@charset "UTF-8";

#slideSection {width:100%;}
#slideSection {width:100%;}
#slideSection .slide-container {position:relative;padding:300px 0;}
#slideSection .slide-container .slide-view {z-index:1;position:relative;width:100%;text-align:center;}
#slideSection .slide-container .slide-view .slide-wrap {position:relative;width:auto;display:inline-block;}
#slideSection .slide-container .slide-view .slide-wrap .slide {position:absolute;top:0;width:600px;transition:all .5s ease-in-out;}
#slideSection .slide-container .slide-view .slide-wrap .slide > div {}
#slideSection .slide-container .slide-view .slide-wrap .slide > div > img {width:100%;outline:5px solid rgb(10,50,0);outline-offset:20px;}
/* 3d 슬라이드 배치방법/타로카드처럼배치할거임  */
#slideSection .slide-container .slide-view .slide-wrap .slide5 {z-index:1;left:-780px;transform:perspective(1500px) scale(.5) rotateY(0deg) translateZ(-200px);opacity:.5;}
#slideSection .slide-container .slide-view .slide-wrap .slide4 {z-index:2;left:-580px;transform:perspective(1500px) scale(.8) rotateY(-70deg) translateZ(-50px);}
/* 메인1번이미지가제일앞에보임/높이잡아지기위해 position:relative */
/* 3d는 transform이 들어감 rotate(0deg) scale() perspective:깊이감(점점깊게들어가는것같은) */
/* translateZ():앞뒤로이동/x는옆으로/y는상하 */
#slideSection .slide-container .slide-view .slide-wrap .slide1 {z-index:3;left:0;position:relative;transform:perspective(1000px) scale(1.2) rotateY(0deg) translateZ(100px);}
#slideSection .slide-container .slide-view .slide-wrap .slide1 div img {outline-color:rgba(150,0,0);}
#slideSection .slide-container .slide-view .slide-wrap .slide1:hover {transform:perspective(200px) scale(1.2) rotateY(0deg) translateZ(120px);}

#slideSection .slide-container .slide-view .slide-wrap .slide2 {z-index:2;left:580px;transform:perspective(1500px) scale(.8) rotateY(70deg) translateZ(-50px);}
#slideSection .slide-container .slide-view .slide-wrap .slide3 {z-index:1;left:780px;transform:perspective(1500px) scale(.5) rotateY(0deg) translateZ(-200px);opacity:.5;}

/* 버튼 */
#slideSection .slide-container .nextBtn-wrap {z-index:2;position:absolute;top:50%;margin-top:-50px;right:50%;margin-right:-300px;width:50px;height:50px;}
#slideSection .slide-container .nextBtn-wrap a {display:table;width:100%;height:100%;}
#slideSection .slide-container .nextBtn-wrap a i {display:table-cell;vertical-align:middle;width:5px;height:5px;border-top:5px solid rgba(225,225,225,.5);border-right:5px solid rgba(225,225,225,.5);transform:rotate(45deg);transition:all 0.5s;}
#slideSection .slide-container .nextBtn-wrap a:hover i {border-color:#fff;background:transparent;}

#slideSection .slide-container .prevBtn-wrap {z-index:2;position:absolute;top:50%;margin-top:-50px;left:50%;margin-left:-300px;width:50px;height:50px;}
#slideSection .slide-container .prevBtn-wrap a {display:table;width:100%;height:100%;}
#slideSection .slide-container .prevBtn-wrap a i {display:table-cell;vertical-align:middle;width:5px;height:5px;border-top:5px solid rgba(225,225,225,.5);border-left:5px solid rgba(225,225,225,.5);transform:rotate(-45deg);transition:all 0.5s;}
#slideSection .slide-container .prevBtn-wrap a:hover i {border-color:#fff;background:transparent;}
